/*instrucciones generales*/
*{
	margin: auto;
}

/*cabecera de la página*/
#titulo {
	margin-left: 100px;
	margin-right: 100px;
}

#cajas {
	margin-left: 30px;
	margin-right: 30px;
	display: flex;
	align-items: flex-end;
}

/*div principal del calendario*/
#calendario {
	border-color: #6495ED;
	border-width: 4px;
	border-style:solid;
	border-radius: 14px;
	min-width: 470px;
	min-height:498px;
	background-color: #5dade2 ;
	text-align: center;
	margin-bottom: 20px;
	
	
}

/*tabla del calendario*/
#diasc {
	border-collapse: separate;
	border-spacing: 2px;
}

#diasc th, #diasc td {
	font: normal 14pt arial;
	width: 55px;
	height: 50px;
	border: 2px double #fffafa;
	border-radius: 5px;
}


#diasc th {
	color: white;
	background-color: #154360 
}

#diasc td {
	color: #492736;
	background-color:  #fdfefe     
}


#diasc tr td.dia:hover {
		    cursor: pointer;
			font: bold 16pt arial;
			border: 2px double coral;
}

/*línea de la fecha actual*/
#fechaactual {
	font: bold 12pt arial;
	padding: 0.4em
}

#fechaactual em {
	cursor: pointer;
}

#fechaactual em:hover {
	color: red;
	text-decoration: underline;
}

/*formulario de busqueda de fechas*/
#buscafecha {
	background-color: #6495ED;
	color: #000;
	padding: 5px
}

#buscafecha select, #buscafecha input {
	background-color: #fdfefe;
	color: #000;
	font: bold 10pt arial;
	
}

#buscafecha [type=text] {
	text-align: center;
}

#buscafecha  [type=button] {
	cursor: pointer;
}

/*cabecera del calendario*/
#anterior {
	float: left;
	width: 100px;
	font: bold 12pt arial;
	padding: 0.5em 0.1em;
	cursor: pointer;
}

#posterior {
	float: right;
	width: 100px;
	font: bold 12pt arial;
	padding: 0.5em 0.1em;
	cursor: pointer;
}

#anterior:hover {
	color: red;
	text-decoration: underline;
}

#posterior:hover {
	color: red;
	text-decoration: underline;
}

#titulos {
	font: bold 15pt "arial black";
	padding: 0.2em;
}

#reuniones {
	border-color: #6495ED;
	border-width: 4px;
	border-style:solid;
	max-width: 300px;
	min-width: 165px;
	height:500px;
	background-color: #fffafa;
	text-align: center;
	margin-left: 20px;
	margin-bottom: 20px;
	overflow-y: scroll;
}

#titulosreunion{
	font: 11pt arial;
	padding: 5px 5px 5px 5px;
	text-align: left;
}

#horasreunion{
	font: bold 11pt arial;
	padding: 5px 5px 5px 5px;
	text-align: center;
}

#reunionYhora{
	font: 11pt arial;
	padding: 5px 5px 5px 5px;
}

#reunion:hover {
	color: red;
	text-decoration: underline;
	cursor: pointer;
}

#cajainforeuniones {
	border-color: #6495ED;
	border-width: 4px;
	border-style:solid;
	max-height:500px;
	height:500px;
	max-width:340px;
	background-color: #5dade2;
	text-align: left;
	margin-left: 20px;
	margin-bottom: 20px;
}

#inputtitulo, #inputhora, #inputdescripcion, #inputasistentes {
	margin: 15px;
	font: bold 11pt arial; 
}

#horareunion{
	margin-left:6px;
}

#descripcion, #asistentes {
	resize: none;
	font: normal 11pt arial;
}

#inputbotones{
	padding: 20px;
}


.botonAceptar{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #58d68d;
    border-radius: 6px;
    border: 2px solid #0016b0;
	cursor: pointer;
	margin-left:auto;
	margin-right :auto;
}

.botonAceptar:hover{
    color: green;
	background-color: #ffffff;
}
  
.botonRechazar{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color:  #ec7063;
    border-radius: 6px;
    border: 2px solid #0016b0;
	cursor: pointer;
	margin-left:20px;
	margin-right :auto;
}

.botonRechazar:hover{
    color: red;
	background-color: #ffffff;
}

body{
	background-color: #86D5E0;
	padding: 15px;
	font-family: Arial;
}
		
#menu{
	background-color: #6495ED;
	margin-left: 30px;
	margin-right: 30px;
}

#btn-modificar{
	background-color: #4169E1;
}

#btn-convocar{
	background-color: #4169E1
}

#btn-cancelar{
	background-color: #ff8080
}

#btn-salir{
	background-color: #4169E1
}

#ROL {
	color: #ffffff;
	font: bold 15pt arial, sans-serif;
	margin: 20px;
}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li{
	display: inline-block;
}

.item-r{
	float: right;
}